@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.spacing {
  @apply px-10 md:px-32 xl:px-60;
}

@font-face {
  font-family: "Rokkitt-Black";
  src: url("/fonts/Rokkitt/Rokkitt-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Rokkitt-ExtraBold";
  src: url("/fonts/Rokkitt/Rokkitt-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Rokkitt-Bold";
  src: url("/fonts/Rokkitt/Rokkitt-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Rokkitt-SemiBold";
  src: url("/fonts/Rokkitt/Rokkitt-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Rokkitt-Medium";
  src: url("/fonts/Rokkitt/Rokkitt-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Rokkitt-Regular";
  src: url("/fonts/Rokkitt/Rokkitt-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rokkitt-Light";
  src: url("/fonts/Rokkitt/Rokkitt-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Rokkitt-ExtraLight";
  src: url("/fonts/Rokkitt/Rokkitt-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Rokkitt-Thin";
  src: url("/fonts/Rokkitt/Rokkitt-Thin.ttf") format("truetype");
}